@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --primary-color: white;
    --secondary-color: black;
    --bg-color: rgb(219, 219, 219);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    padding: 5em;
}


/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    background-color: var(--primary-color);
    box-shadow: 0 3px 7px rgba(0, 0, 0, .4);
    z-index: 99;
}

.nav-right ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.nav-right ul li img{
    margin-top: 5px;
}

.nav-right ul li a ,
.nav-left a{
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: initial;
}

.nav-right ul li a:hover {
    text-decoration: underline;
}

.nav-left {
    background-color: white;
    border: 2px solid var(--secondary-color);
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 5px 5px var(--secondary-color);
    transition: .2s ease-in-out;
}

.nav-left a {
    display: block;
    color: var(--secondary-color);
    padding: 3px 13px ;
    transition: .2s ease-in-out;
}

.nav-left:hover {
    box-shadow: none;
}

.nav-left a:hover {
    color: white;
    background-color: var(--secondary-color);
}

.nav-right, .nav-left {
    margin: 0 50px;
}
/* akhir style navbar */

/* isi content - container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    border-radius: 10px;
    padding: 2.5em 2em;
    background-image: linear-gradient(rgb(93, 93, 93), rgb(162, 162, 162), rgb(234, 234, 234)83%);
    background-color: rgb(236, 236, 236);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
    transform: translateY(1em);
}

h1,h2, .detail p {
    color: rgb(251, 251, 251);
}

/* first-column */
.first-column {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: fit-content;
    gap: 3em;
}

.hero {
    width: 60%;
}

.hero img {
    width: 50vw;
    height: 60vh;
    border-radius: 5px;
    object-fit: cover;
}
.detail p {
    font-size: 1.3rem;
}

i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.duration {
    margin: 2em 0 3em
}

.duration h3, .duration div {
    margin-top: .6em;
}

.technoUse {
    margin-top: 1em;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 15px;
}

.date,
.month,
.react,
.node,
.javascript,
.socket {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* end first-column */

/* second-column */
.second-column p {
    text-indent: 50px;
    text-align: justify;
}
/* end second-column */